// style reg
@font-face {
  font-family: "Grotesk";
  src: url("../assets/fonts/TGHaidoGrotesk-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Grotesk";
  src: url("../assets/fonts/TGHaidoGrotesk-Extralight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Grotesk";
  src: url("../assets/fonts/TGHaidoGrotesk-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Grotesk";
  src: url("../assets/fonts/TGHaidoGrotesk-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Grotesk";
  src: url("../assets/fonts/TGHaidoGrotesk-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Grotesk";
  src: url("../assets/fonts/TGHaidoGrotesk-Semibold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Grotesk";
  src: url("../assets/fonts/TGHaidoGrotesk-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Grotesk";
  src: url("../assets/fonts/TGHaidoGrotesk-Extrabold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Grotesk";
  src: url("../assets/fonts/TGHaidoGrotesk-Black.ttf");
  font-weight: 900;
}


// style italic

@font-face {
  font-family: "Grotesk";
  src: url("../assets/fonts/TGHaidoGrotesk-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Grotesk";
  src: url("../assets/fonts/TGHaidoGrotesk-ExtralightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Grotesk";
  src: url("../assets/fonts/TGHaidoGrotesk-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Grotesk";
  //src: url("../../assets/fonts/TGHaidoGroteskVariable.ttf");
  src: url("../assets/fonts/TGHaidoGrotesk-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Grotesk";
  src: url("../assets/fonts/TGHaidoGrotesk-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Grotesk";
  src: url("../assets/fonts/TGHaidoGrotesk-SemiboldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Grotesk";
  src: url("../assets/fonts/TGHaidoGrotesk-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Grotesk";
  src: url("../assets/fonts/TGHaidoGrotesk-ExtraboldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Grotesk";
  src: url("../assets/fonts/TGHaidoGrotesk-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

// title
@font-face {
  font-family: "PressStart";
  src: url("../assets/fonts/PressStart2P-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}