@import "../styles/fonts";

// fonts
$primaryFont: 'Grotesk';
$titleFont: 'PressStart';

// colors
$primaryColor: #B3FBD8;
$primarySdColor: #5AA9D4;
$sideColor: #F47AFF;
$darkSideColor: #ea76f6;
$darkColor: #262626;

// width
$xlW: 1400px;
$lW: 1300px;