@import "src/styles/variables";
@import "src/styles/mixins";

.blockTitle {
  position: relative;
  overflow: hidden;

  h2 {
    width: $lW;
    display: block;
    margin: 0 auto;
    //padding: 0 0 0 130px;
    @include text(70px, $primaryFont, 900);
    text-transform: uppercase;
    color: $darkColor;
  }

  .list {
    margin: 0;
    position: absolute;
    left: 0;
    top: 60px;
    cursor: unset;
    @include text(14px, $primaryFont, 900);
    color: rgba(38, 38, 38, 0.2);
    text-transform: uppercase;
    white-space: nowrap;
    animation: marquee 20s infinite linear;
  }

  .list:after {
    content: "ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів";
  }

  @keyframes marquee{
    0% {
      transform: translateX(0)
    }
    100% {
      transform: translateX(-50%)
    }
  }
}


//.ul{
//  position: absolute;
//  display: flex;
//  flex-direction: row;
//  justify-content: start;
//  padding: 0;
//  margin: 0;
//  left: 0;
//  top: 60px;
//  cursor: unset;
//}
//
//.li{
//  @include text(14px, $primaryFont, 900);
//  display: block;
//  width: 95px;
//  color: rgba(38, 38, 38, 0.2);
//  //text-transform: uppercase;
//}

