@import "../src/styles/variables";
@import "../src/styles/mixins";
@import "../src/styles/fonts";


.App{
  width: 100%;
  min-height: 100vh;
  //background-color: #dbfdf4;
}

.down{
  margin-top: -4px;
  transform: rotate(180deg);
}





